.about-us {
  min-height: 100vh;
  margin: auto;
  width: 95%;
  #about-p,
  #about-h1 {
    text-align: center;
  }
  #about-h1 {
    color: #3d2c8d;
    margin: 8rem 0rem 2rem 0rem;
    font-family: "goshasans";
  }
  #about-p {
    color: #afb0c4;
    margin: 0rem 0rem 5rem 0rem;
  }
}

body {
  background-color: #e2e2e2;
}

.about-box {
  @include flex(center, flex-start, row);
  width: 90%;
  margin: auto;
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin-bottom: 8rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  .about-info-left {
    // min-height: 123vh;
    flex: 1 1 40rem;
    background-color: #f0f0f0;
    color: #e0d3ef;
    border-radius: 1.5rem;
    padding: 4rem 2rem 4rem 3rem;
    img {
      border-radius: 3rem;
      max-height: 60rem;
    }
  }

  .about-info-right {
    flex: 1 1 55rem;
    border-radius: 2rem;
    padding: 4rem 4rem 4rem 2rem;
    background-color: #f0f0f0;
    h2 {
      color: #171717;
      margin-bottom: 4rem;
      padding: 0rem 8rem 0rem 0rem;
    }
    p {
      color: #545454;
      padding-right: 4rem;
    }
    li {
      color: #545454;
      margin: 1rem 0rem;
    }
    ul {
      list-style-type: square;
      margin-left: 3rem;
    }
  }
}
