* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "gilroy-light", sans-serif;
}

h1 {
  font-size: $header1;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}

a {
  color: $gray-text;
  text-decoration: none;
}

@font-face {
  font-family: goshasans;
  src: url("/font/GoshaSans-Regular.ttf");
}

@font-face {
  font-family: gilroy-light;
  src: url("/font/Gilroy-Light.otf");
}
