// NAV SECTION //
nav {
  width: 98%;
  min-height: 8vh;
  padding: 2rem 0rem;
  @include flex(flex-end, center, row);
  .nav-links {
    @include flex(flex-end, center, row);
    li {
      margin: 0rem 1rem;
    }
    a {
      color: #3d2c8d;
      font-size: 3rem;
    }
  }
}

.contact-us {
  //background-color: #f3f1f5;
  min-height: 100vh;
  margin: auto;
  width: 85%;
  #contact-p,
  #contact-h1 {
    text-align: center;
  }
  #contact-h1 {
    color: #3d2c8d;
    margin: 8rem 0rem 2rem 0rem;
    font-family: "goshasans";
  }
  #contact-p {
    color: #afb0c4;
    margin: 0rem 0rem 5rem 0rem;
  }
}

.contact-box {
  @include flex(center, flex-start, row);
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin-bottom: 8rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  .contact-info-left {
    min-height: 128vh;
    flex: 1 1 40rem;
    background-color: #3e1f92;
    color: #e0d3ef;
    border-radius: 1.5rem;
    padding: 4rem;
    h3 {
      margin-bottom: 1rem;
    }
    p {
      color: #d7c9ea;
      padding-right: 0rem;
      margin-bottom: 1rem;
    }
    .table1 {
      border-collapse: collapse;
      margin: 4.5rem 0rem;
      background-color: #f9f9fb;
      border-radius: 1rem;
      color: #916bbf;
      text-align: center;
      th,
      td {
        //border: 0.1rem solid rgb(160, 160, 160);
        padding: 2rem 8rem;
      }
      th {
        font-size: 1.5rem;
        border-bottom: 1px solid rgb(199, 199, 199);
      }
      td {
        font-size: 1.3rem;
      }
    }
    ol {
      margin: 0rem 0rem 0rem 3rem;
      li {
        margin: 0rem 0rem 1rem 0rem;
        color: #d7c9ea;
      }
    }
    .text {
      margin: 3.5rem 0rem 2rem 0rem;
    }
  }

  .name2,
  .date-major,
  .gender-hobby {
    td {
      color: #bec0c5;
      font-size: 2rem;
    }
  }

  .contact-info-right {
    flex: 1 1 55rem;
    border-radius: 2rem;
    padding: 4rem;
    background-color: #f0f0f0;
    .name-input {
      input {
        border: none;
        border-color: transparent;
        width: 300px;
        background: linear-gradient(#d7c9ea, rgb(206, 197, 206)) center bottom
          5px / calc(100% - 10px) 2px no-repeat;
        background-color: #fcfcfc;
        border: none;
        padding: 1rem;
        background-color: #f0f0f0;
        color: #5a3f7c;
      }
    }

    .date-major {
      td {
        padding: 3rem 0rem 1rem 0rem;
      }
    }

    .gender-hobby {
      td {
        padding: 3rem 0rem 0rem 0rem;
      }
    }

    .image {
      @include flex(center, center, row);
      .act-image {
        max-width: 89%;
        //height: 50%;
        object-fit: cover;
        border-radius: 1.5rem;
        margin: 3rem 0rem 4rem 0rem;
      }
    }

    .submit {
      @include flex(flex-end, center, row);

      .submit-input {
        border: none;
        padding: 0.8rem 2.8rem;
        border-radius: 2rem;
        background-color: #3e1f92;
        color: #e0d3ef;
        cursor: pointer;
        transition: background 0.5s ease-in-out; /* the property that is going to be changed from from button to button:hover*/
        /*animation: cloudAnimation 2s infinite; */
      }

      .submit-input:hover {
        background: #664ab3;
      }
    }
  }
}

.gender {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .gender:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #3e1f92;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}

.hobby {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark2 {
    background-color: #3e1f92;
  }

  input:checked ~ .checkmark2:after {
    display: block;
  }

  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark2:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
