* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "gilroy-light", sans-serif;
}

h1 {
  font-size: 4.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

@font-face {
  font-family: goshasans;
  src: url("/font/GoshaSans-Regular.ttf");
}

@font-face {
  font-family: gilroy-light;
  src: url("/font/Gilroy-Light.otf");
}

nav {
  width: 98%;
  min-height: 8vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-links li {
  margin: 0rem 1rem;
}

nav .nav-links a {
  color: #3d2c8d;
  font-size: 3rem;
}

.contact-us {
  min-height: 100vh;
  margin: auto;
  width: 85%;
}

.contact-us #contact-p,
.contact-us #contact-h1 {
  text-align: center;
}

.contact-us #contact-h1 {
  color: #3d2c8d;
  margin: 8rem 0rem 2rem 0rem;
  font-family: "goshasans";
}

.contact-us #contact-p {
  color: #afb0c4;
  margin: 0rem 0rem 5rem 0rem;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin-bottom: 8rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.contact-box .contact-info-left {
  min-height: 128vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background-color: #3e1f92;
  color: #e0d3ef;
  border-radius: 1.5rem;
  padding: 4rem;
}

.contact-box .contact-info-left h3 {
  margin-bottom: 1rem;
}

.contact-box .contact-info-left p {
  color: #d7c9ea;
  padding-right: 0rem;
  margin-bottom: 1rem;
}

.contact-box .contact-info-left .table1 {
  border-collapse: collapse;
  margin: 4.5rem 0rem;
  background-color: #f9f9fb;
  border-radius: 1rem;
  color: #916bbf;
  text-align: center;
}

.contact-box .contact-info-left .table1 th,
.contact-box .contact-info-left .table1 td {
  padding: 2rem 8rem;
}

.contact-box .contact-info-left .table1 th {
  font-size: 1.5rem;
  border-bottom: 1px solid #c7c7c7;
}

.contact-box .contact-info-left .table1 td {
  font-size: 1.3rem;
}

.contact-box .contact-info-left ol {
  margin: 0rem 0rem 0rem 3rem;
}

.contact-box .contact-info-left ol li {
  margin: 0rem 0rem 1rem 0rem;
  color: #d7c9ea;
}

.contact-box .contact-info-left .text {
  margin: 3.5rem 0rem 2rem 0rem;
}

.contact-box .name2 td,
.contact-box .date-major td,
.contact-box .gender-hobby td {
  color: #bec0c5;
  font-size: 2rem;
}

.contact-box .contact-info-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55rem;
          flex: 1 1 55rem;
  border-radius: 2rem;
  padding: 4rem;
  background-color: #f0f0f0;
}

.contact-box .contact-info-right .name-input input {
  border: none;
  border-color: transparent;
  width: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7c9ea), to(#cec5ce)) center bottom 5px/calc(100% - 10px) 2px no-repeat;
  background: linear-gradient(#d7c9ea, #cec5ce) center bottom 5px/calc(100% - 10px) 2px no-repeat;
  background-color: #fcfcfc;
  border: none;
  padding: 1rem;
  background-color: #f0f0f0;
  color: #5a3f7c;
}

.contact-box .contact-info-right .date-major td {
  padding: 3rem 0rem 1rem 0rem;
}

.contact-box .contact-info-right .gender-hobby td {
  padding: 3rem 0rem 0rem 0rem;
}

.contact-box .contact-info-right .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-box .contact-info-right .image .act-image {
  max-width: 89%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
  margin: 3rem 0rem 4rem 0rem;
}

.contact-box .contact-info-right .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-box .contact-info-right .submit .submit-input {
  border: none;
  padding: 0.8rem 2.8rem;
  border-radius: 2rem;
  background-color: #3e1f92;
  color: #e0d3ef;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  /* the property that is going to be changed from from button to button:hover*/
  /*animation: cloudAnimation 2s infinite; */
}

.contact-box .contact-info-right .submit .submit-input:hover {
  background: #664ab3;
}

.gender {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}

.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.gender .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.gender .gender:hover input ~ .checkmark {
  background-color: #ccc;
}

.gender input:checked ~ .checkmark {
  background-color: #3e1f92;
}

.gender .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.gender input:checked ~ .checkmark:after {
  display: block;
}

.gender .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.hobby {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hobby input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hobby input:checked ~ .checkmark2 {
  background-color: #3e1f92;
}

.hobby input:checked ~ .checkmark2:after {
  display: block;
}

.hobby .checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.hobby .checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

.hobby .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.about-us {
  min-height: 100vh;
  margin: auto;
  width: 95%;
}

.about-us #about-p,
.about-us #about-h1 {
  text-align: center;
}

.about-us #about-h1 {
  color: #3d2c8d;
  margin: 8rem 0rem 2rem 0rem;
  font-family: "goshasans";
}

.about-us #about-p {
  color: #afb0c4;
  margin: 0rem 0rem 5rem 0rem;
}

body {
  background-color: #e2e2e2;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin-bottom: 8rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.about-box .about-info-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background-color: #f0f0f0;
  color: #e0d3ef;
  border-radius: 1.5rem;
  padding: 4rem 2rem 4rem 3rem;
}

.about-box .about-info-left img {
  border-radius: 3rem;
  max-height: 60rem;
}

.about-box .about-info-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55rem;
          flex: 1 1 55rem;
  border-radius: 2rem;
  padding: 4rem 4rem 4rem 2rem;
  background-color: #f0f0f0;
}

.about-box .about-info-right h2 {
  color: #171717;
  margin-bottom: 4rem;
  padding: 0rem 8rem 0rem 0rem;
}

.about-box .about-info-right p {
  color: #545454;
  padding-right: 4rem;
}

.about-box .about-info-right li {
  color: #545454;
  margin: 1rem 0rem;
}

.about-box .about-info-right ul {
  list-style-type: square;
  margin-left: 3rem;
}

.dark {
  background-color: #191617;
}
/*# sourceMappingURL=style.css.map */